.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
__pycache__/
.pytest_cache/
.venv/
node_modules/
dist/
coverage/
.devcontainer/*

.diploma-cluster-kubeconfig
.vscode/
*.tsbuildinfo
.devcontainer/scripts/task-*.sh
.devcontainer/devcontainer.json
