replicaCount: 1

image:
  repository: ghcr.io/yam1x/diploma-orchestrator-api
  tag: "latest"
  pullPolicy: Always

service:
  port: 8000

config:
  databaseUrl: {{ printf "postgresql+psycopg://postgres:%s@%s:%v/%s" .StateValues.postgresql.auth.postgresPassword .StateValues.postgresql.service.host .StateValues.postgresql.service.port .StateValues.postgresql.auth.database | quote }}
  dbBackupper:
    image:
      registry: "ghcr.io"
      repository: "yam1x/diploma-db-backupper"
      tag: "latest"
      pullPolicy: "Always"
    chart:
      repositoryUrl: "https://github.com/Yam1x/Diploma.git"
      ref: "master"
      path: "diploma-db-backupper/ci"
  dbRestorer:
    image:
      registry: "ghcr.io"
      repository: "yam1x/diploma-db-restorer"
      tag: "latest"
      pullPolicy: "Always"
    chart:
      repositoryUrl: "https://github.com/Yam1x/Diploma.git"
      ref: "master"
      path: "diploma-db-restorer/ci"
  s3Backupper:
    image:
      registry: "ghcr.io"
      repository: "yam1x/diploma-s3-backupper"
      tag: "latest"
      pullPolicy: "Always"
    chart:
      repositoryUrl: "https://github.com/Yam1x/Diploma.git"
      ref: "master"
      path: "diploma-s3-backupper/ci"
  s3Restorer:
    image:
      registry: "ghcr.io"
      repository: "yam1x/diploma-s3-restorer"
      tag: "latest"
      pullPolicy: "Always"
    chart:
      repositoryUrl: "https://github.com/Yam1x/Diploma.git"
      ref: "master"
      path: "diploma-s3-restorer/ci"
  envBackupper:
    image:
      registry: "ghcr.io"
      repository: "yam1x/diploma-env-backupper"
      tag: "latest"
      pullPolicy: "Always"
    chart:
      repositoryUrl: "https://github.com/Yam1x/Diploma.git"
      ref: "master"
      path: "diploma-env-backupper/ci"
  envRestorer:
    image:
      registry: "ghcr.io"
      repository: "yam1x/diploma-env-restorer"
      tag: "latest"
      pullPolicy: "Always"
    chart:
      repositoryUrl: "https://github.com/Yam1x/Diploma.git"
      ref: "master"
      path: "diploma-env-restorer/ci"
  envSynchronizer:
    image:
      registry: "ghcr.io"
      repository: "yam1x/diploma-env-synchronizer"
      tag: "latest"
      pullPolicy: "Always"
    chart:
      repositoryUrl: "https://github.com/Yam1x/Diploma.git"
      ref: "master"
      path: "diploma-env-synchronizer/ci"
  minio:
    endpointUrl: {{ printf "http://%s:%v" .StateValues.minio.service.host .StateValues.minio.service.port | quote }}
    accessKeyId: {{ .StateValues.minio.auth.rootUser | quote }}
    secretAccessKey: {{ .StateValues.minio.auth.rootPassword | quote }}
    bucketName: {{ (splitList "," .StateValues.minio.defaultBuckets | first | trim) | quote }}
    region: {{ .StateValues.minio.region | quote }}
  eventWatcher:
    enabled: true
    pollIntervalSeconds: 60
    cooldownSeconds: 600
