replicaCount: 1

image:
  repository: ghcr.io/yam1x/diploma-orchestrator-api
  tag: "latest"
  pullPolicy: Always

service:
  port: 8000

config:
  databaseUrl: {{ printf "postgresql+psycopg://postgres:%s@%s:%v/%s" .StateValues.postgresql.auth.postgresPassword .StateValues.postgresql.service.host .StateValues.postgresql.service.port .StateValues.postgresql.auth.database | quote }}
  dbBackupper:
    image:
      registry: {{ .Values.dbBackupper.image.registry | quote }}
      repository: {{ .Values.dbBackupper.image.repository | quote }}
      tag: {{ .Values.dbBackupper.image.tag | quote }}
      pullPolicy: {{ .Values.dbBackupper.image.pullPolicy | quote }}
    chart:
      repositoryUrl: {{ .Values.dbBackupper.chart.repositoryUrl | quote }}
      ref: {{ .Values.dbBackupper.chart.ref | quote }}
      path: {{ .Values.dbBackupper.chart.path | quote }}
  s3Backupper:
    image:
      registry: {{ .Values.s3Backupper.image.registry | quote }}
      repository: {{ .Values.s3Backupper.image.repository | quote }}
      tag: {{ .Values.s3Backupper.image.tag | quote }}
      pullPolicy: {{ .Values.s3Backupper.image.pullPolicy | quote }}
    chart:
      repositoryUrl: {{ .Values.s3Backupper.chart.repositoryUrl | quote }}
      ref: {{ .Values.s3Backupper.chart.ref | quote }}
      path: {{ .Values.s3Backupper.chart.path | quote }}
