replicaCount: 1

image:
  repository: ghcr.io/yam1x/diploma-orchestrator-api
  tag: "latest"
  pullPolicy: Always

service:
  port: 8000

config:
  databaseUrl: {{ printf "postgresql+psycopg://postgres:%s@%s:%v/%s" .StateValues.postgresql.auth.postgresPassword .StateValues.postgresql.service.host .StateValues.postgresql.service.port .StateValues.postgresql.auth.database | quote }}
  backupImage:
    registry: {{ .Values.backupImage.registry | quote }}
    repository: {{ .Values.backupImage.repository | quote }}
    tag: {{ .Values.backupImage.tag | quote }}
    pullPolicy: {{ .Values.backupImage.pullPolicy | quote }}
  backupChart:
    repositoryUrl: {{ .Values.backupChart.repositoryUrl | quote }}
    ref: {{ .Values.backupChart.ref | quote }}
    path: {{ .Values.backupChart.path | quote }}
