# Based on TourmalineCore/pelican-local-env MinIO setup

image:
  repository: bitnamilegacy/minio

auth:
  rootUser: {{ .StateValues.minio.auth.rootUser | quote }}
  rootPassword: {{ .StateValues.minio.auth.rootPassword | quote }}

defaultBuckets: {{ .StateValues.minio.defaultBuckets | quote }}

ingress:
  enabled: true
  ingressClassName: nginx
  hostname: {{ printf "%s.%s" "orchestrator-minio-s3-console" .StateValues.ingress.host | quote }}
  path: /

apiIngress:
  enabled: true
  ingressClassName: nginx
  hostname: {{ printf "%s.%s" "orchestrator-minio-s3" .StateValues.ingress.host | quote }}
  path: /
