image:
    repository: bitnamilegacy/postgresql

auth:
  postgresPassword: "{{ .StateValues.postgresql.auth.postgresPassword }}"
  database: "{{ .StateValues.postgresql.auth.database }}"

primary:
  service:
    type: NodePort
    nodePorts:
      postgresql: 30100
  persistence:
    enabled: true
    storageClass: local-path
    size: 8Gi
