ORCHESTRATOR_DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/orchestrator
ORCHESTRATOR_BACKUP_IMAGE_REGISTRY=ghcr.io
ORCHESTRATOR_BACKUP_IMAGE_REPOSITORY=Yam1x/diploma-db-backupper
ORCHESTRATOR_BACKUP_IMAGE_TAG=latest
ORCHESTRATOR_BACKUP_IMAGE_PULL_POLICY=Always
