ORCHESTRATOR_DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/orchestrator

ORCHESTRATOR_DB_BACKUPPER_IMAGE_REGISTRY=ghcr.io
ORCHESTRATOR_DB_BACKUPPER_IMAGE_REPOSITORY=yam1x/diploma-db-backupper
ORCHESTRATOR_DB_BACKUPPER_IMAGE_TAG=latest
ORCHESTRATOR_DB_BACKUPPER_IMAGE_PULL_POLICY=Always
ORCHESTRATOR_DB_BACKUPPER_CHART_REPOSITORY_URL=https://github.com/Yam1x/Diploma.git
ORCHESTRATOR_DB_BACKUPPER_CHART_REF=master
ORCHESTRATOR_DB_BACKUPPER_CHART_PATH=diploma-db-backupper/ci

ORCHESTRATOR_S3_BACKUPPER_IMAGE_REGISTRY=ghcr.io
ORCHESTRATOR_S3_BACKUPPER_IMAGE_REPOSITORY=yam1x/diploma-s3-backupper
ORCHESTRATOR_S3_BACKUPPER_IMAGE_TAG=latest
ORCHESTRATOR_S3_BACKUPPER_IMAGE_PULL_POLICY=Always
ORCHESTRATOR_S3_BACKUPPER_CHART_REPOSITORY_URL=https://github.com/Yam1x/Diploma.git
ORCHESTRATOR_S3_BACKUPPER_CHART_REF=master
ORCHESTRATOR_S3_BACKUPPER_CHART_PATH=diploma-s3-backupper/ci

ORCHESTRATOR_ENV_SYNCHRONIZER_IMAGE_REGISTRY=ghcr.io
ORCHESTRATOR_ENV_SYNCHRONIZER_IMAGE_REPOSITORY=yam1x/diploma-env-synchronizer
ORCHESTRATOR_ENV_SYNCHRONIZER_IMAGE_TAG=latest
ORCHESTRATOR_ENV_SYNCHRONIZER_IMAGE_PULL_POLICY=Always
ORCHESTRATOR_ENV_SYNCHRONIZER_CHART_REPOSITORY_URL=https://github.com/Yam1x/Diploma.git
ORCHESTRATOR_ENV_SYNCHRONIZER_CHART_REF=master
ORCHESTRATOR_ENV_SYNCHRONIZER_CHART_PATH=diploma-env-synchronizer/ci

ORCHESTRATOR_MINIO_ENDPOINT_URL=http://minio:9000
ORCHESTRATOR_MINIO_ACCESS_KEY_ID=admin
ORCHESTRATOR_MINIO_SECRET_ACCESS_KEY=minio123456
ORCHESTRATOR_MINIO_BUCKET_NAME=backups
ORCHESTRATOR_MINIO_REGION=us-east-1

ORCHESTRATOR_EVENT_WATCHER_ENABLED=true
ORCHESTRATOR_EVENT_WATCHER_POLL_INTERVAL_SECONDS=60
ORCHESTRATOR_EVENT_WATCHER_COOLDOWN_SECONDS=600
