namespace: local

postgresql:
  auth:
    postgresPassword: postgres
    database: orchestrator
  service:
    host: postgresql
    port: 5432

minio:
  auth:
    rootUser: admin
    rootPassword: minio123456
  service:
    host: minio
    port: 9000
  defaultBuckets: backups
  region: us-east-1

ingress:
  host: localhost
