namespace: {{ env "ORCHESTRATOR_NAMESPACE" | default "diploma-system" }}

apiImageRepository: {{ env "API_IMAGE_REPOSITORY" | default "ghcr.io/yam1x/diploma-orchestrator-api" }}
apiImageTag: {{ env "API_IMAGE_TAG" | default "latest" }}
apiImagePullPolicy: IfNotPresent
apiPort: 8000

postgresql:
  auth:
    postgresPassword: postgres
    database: orchestrator
  service:
    host: diploma-orchestrator-postgresql
    port: 5432

backupImage:
  registry: ghcr.io
  repository: Yam1x/diploma-db-backupper
  tag: latest
  pullPolicy: Always

minio:
  auth:
    rootPassword: minio123456
  defaultBuckets: backups
  apiHost: minio-s3
  consoleHost: minio-s3-console

uiImageRepository: {{ env "UI_IMAGE_REPOSITORY" | default "ghcr.io/yam1x/diploma-orchestrator-ui" }}
uiImageTag: {{ env "UI_IMAGE_TAG" | default "latest" }}
uiImagePullPolicy: IfNotPresent
uiPort: 80

ingress:
  host: localhost
  externalPort: 40110
