namespace: local

postgresql:
  auth:
    postgresPassword: postgres
    database: orchestrator
  service:
    host: postgresql
    port: 5432

dbBackupper:
  image:
    registry: ghcr.io
    repository: yam1x/diploma-db-backupper
    tag: latest
    pullPolicy: Always
  chart:
    repositoryUrl: https://github.com/Yam1x/Diploma.git
    ref: master
    path: diploma-db-backupper/ci

s3Backupper:
  image:
    registry: ghcr.io
    repository: yam1x/diploma-s3-backupper
    tag: latest
    pullPolicy: Always
  chart:
    repositoryUrl: https://github.com/Yam1x/Diploma.git
    ref: master
    path: diploma-s3-backupper/ci

minio:
  auth:
    rootPassword: minio123456
  defaultBuckets: backups
  apiHost: minio-s3
  consoleHost: minio-s3-console

ingress:
  host: localhost
  externalPort: 40110
